body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

#deliverables-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.drawer {
    width: calc(33.33% - 20px);
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.drawer img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.download-button {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.download-button a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.download-button:hover {
    background-color: #2980b9;
}

.drawer p {
    text-align: center;
    padding: 10px;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:visited {
    color: #fff;
}

nav a:hover {
    border-bottom: 2px solid #fff;
}
